@media screen and (max-width:800px) {

    body{
        display: flex;
        justify-content: center;
        align-items: center;
        background: url(Recursos/1c11240f39d76c1de7ca49debc460b7c.gif);
        background-repeat:initial;
        }

        .logear{
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            width: 80vw;
            height: 55vh;

            background-color: rgb(255, 255, 255);
            border-radius: 5%;
            margin-top: 50%;

            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            }

            .texto{
                margin-top: -45vh;
                }
                
                h1{
                    font-family: Roboto-Medium;
                    text-align: center;
                    align-items: center;
                }
            
}